<div>
    <h3>Productos:</h3>
    <p>
        {{#each productlist}}
            <div>
                <p> title: {{this.title}} </p>
                <p> description: {{this.description}} </p>
                <p> code: {{this.code}} </p>
                <p> price: {{this.price}} </p>
                <p> status: {{this.status}} </p>
                <p> stock: {{this.stock}} </p>
                <p> category: {{this.category}} </p>
                <p> thumbnail: {{this.thumbnail}} </p>            
                <p> id: {{this.id}} </p>
            </div>
        {{/each}}
    </p>
</div>